<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Take a Pet!</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <%- include('navigation', locals); %>

    <!-- Form Section -->
    <section class="" id="">
       <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="margin-top: 40px; margin-bottom: 50px;">
                    <h3>Cadastre um pet!</h3>
                    <hr class="star-primary">
                </div>
            </div>
            <form class="form-horizontal" method="post" action="cadastrarPet-action">
                <div class="form-group">
                    <label class="control-label col-sm-2">Espécie:</label>
                    <div class="col-sm-8">
                        <label class="radio-inline"><input type="radio" name="espec" id="chk_E_C" value="Cachorro" checked/> Cachorro </label>
                        <label class="radio-inline"><input type="radio" name="espec" id="chk_E_G" value="Gato"> Gato </label>
                        <label class="radio-inline"><input type="radio" name="espec" id="chk_E_O" value="Outro"> Outro </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Sexo:</label>
                    <div class="col-sm-8">
                        <label class="radio-inline"><input type="radio" name="sexo" id="rd_Ma" value="Macho" checked/> Macho </label>
                        <label class="radio-inline"><input type="radio" name="sexo" id="rd_Fe" value="Fêmea"> Fêmea </label>
                    </div>
                </div>
				<div class="form-group">
                    <label class="control-label col-sm-2">Coloração do Pet:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="txt_cor" name="cor">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Porte:</label>
                    <div class="col-sm-8">
                        <label class="radio-inline"><input type="radio" name="porte" id="rd_Gra" value="Grande"> Grande </label>
                        <label class="radio-inline"><input type="radio" name="porte" id="rd_Medi" value="Médio"> Médio </label>
                        <label class="radio-inline"><input type="radio" name="porte" id="rd_Pe" value="Pequeno"> Pequeno </label>
                        <label class="radio-inline"><input type="radio" name="porte" id="rd_Ns" value="Não Sei" checked/> Não Sei </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Idade:</label>
                    <div class="col-sm-8">
                        <label class="radio-inline"><input type="radio" name="idadePet" id="rd_Idoso" value="Idoso" />Idoso</label>
                        <label class="radio-inline"><input type="radio" name="idadePet" id="rd_Adulto" value="Adulto" />Adulto</label>
                        <label class="radio-inline"><input type="radio" name="idadePet" id="rd_Filhote" value="Filhote" />Filhote </label>
						<label class="radio-inline"><input type="radio" name="idadePet" id="rd_NS" value="Não Sei" checked/>Não Sei</label>
                    </div>
                </div>
				<div class="form-group">
                    <label class="control-label col-sm-2">O Pet possui raça definida? Se sim, qual?</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="raca" name="raca">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Pet precisa de cuidados veterinários?</label>
                    <div class="col-sm-8">
                        <label class="radio-inline"><input type="radio" name="cuiVet" id="rd_Sim" value="Sim" />Sim</label>
                        <label class="radio-inline"><input type="radio" name="cuiVet" id="rd_Nao" value="Não" />Não</label>
                        <label class="radio-inline"><input type="radio" name="cuiVet" id="rd_NS" value="Não Sei" checked/>Não Sei</label>
                    </div>
                </div>
				<div class="form-group">
                    <label class="control-label col-sm-2">Pet foi encontrado com machucados ou sinais de maus tratos?</label>
                    <div class="col-sm-8">
                        <label class="radio-inline"><input type="radio" name="mausTrat" id="rd_mtSim" value="Sim" />Sim</label>
                        <label class="radio-inline"><input type="radio" name="mausTrat" id="rd_mtNao" value="Não" />Não</label>
                        <label class="radio-inline"><input type="radio" name="mausTrat" id="rd_mtNS" value="Não Sei" checked/>Não Sei</label>
                    </div>
                </div>
				<div class="form-group">
                    <label class="control-label col-sm-2">Somente para Fêmeas: Pet está no cio? </label>
                    <div class="col-sm-8">
                        <label class="radio-inline"><input type="radio" name="cio" id="rd_cSim" value="Sim" />Sim</label>
                        <label class="radio-inline"><input type="radio" name="cio" id="rd_cNao" value="Não" />Não</label>
                        <label class="radio-inline"><input type="radio" name="cio" id="rd_cNS" value="Não Sei" checked/>Não Sei</label>
                    </div>
                </div>
				<div class="form-group">
                    <label class="control-label col-sm-2">Somente para Fêmeas: Pet está prenha?</label>
                    <div class="col-sm-8">
                        <label class="radio-inline"><input type="radio" name="prenha" id="rd_pSim" value="Sim" />Sim</label>
                        <label class="radio-inline"><input type="radio" name="prenha" id="rd_pNao" value="Não" />Não</label>
                        <label class="radio-inline"><input type="radio" name="prenha" id="rd_pNS" value="Não Sei" checked/>Não Sei</label>
                    </div>
                </div>
				<div class="form-group">
                    <label class="control-label col-sm-2">Tipo de ajuda: </label>
                    <div class="col-sm-8">
                        <label class="radio-inline"><input type="radio" name="tipoajuda" id="rd_Adocao" value="adocao" />Adoção</label>
                        <label class="radio-inline"><input type="radio" name="tipoajuda" id="rd_Apadri" value="apadrinhamento" />Apadrinhamento</label>
                        <label class="radio-inline"><input type="radio" name="tipoajuda" id="rd_Indiferente" value="indife" checked/>Indiferente</label>
                    </div>
                </div>
				<div class="form-group">
                    <label class="control-label col-sm-2">Mais informações sobre o Pet: </label>
					<div class="col-sm-4">
						<textarea class="form-control" name="info-pet" id="info-pet" rows="5" placeholder="Mais informações sobre o pet"></textarea>
					</div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Data que o Pet foi encontrado:</label>
                    <div class="col-xs-4">
                        <input type="date" class="form-control" id="data" name="data">
                    </div>
                </div>
				<div class="form-group">
                    <label class="control-label col-sm-2" for="email">Região:</label>
                    <div class="col-xs-4">
						<select class="form-control" name="regiaopet" id="regiaopet">
							<option value="ZS">Zona Sul</option>
							<option value="ZL">Zona Leste</option>
							<option value="ZN">Zona Norte</option>
							<option value="C">Centro</option>
						</select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Endereço:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="txt_endpet" name="endpet">
                    </div>
                </div>
				<div class="form-group">
                    <label class="control-label col-sm-2">Descrição do local onde o Pet foi encontrado: </label>
					<div class="col-sm-4">
						<textarea class="form-control" name="desc-area" id="desc-area" rows="5" cols="40" placeholder="Mais informações sobre o local"></textarea>
					</div>
                </div>
                <button type="submit" class="btn btn-default" style="margin-left:43%;">Enviar</button>
                
            </form>
       </div>
    </section>
    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/freelancer.min.js"></script>
</body>
</html>