    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright © 2017 ~ Take a pet ~ Grupo 3 ~ All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
    </footer>