<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <%if (locals.isMain){%>
                <a class="navbar-brand" href="#page-top">Take a Pet!</a>
            <%}else{%>
                <a class="navbar-brand" href="/">Take a Pet!</a>
            <%}%>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <%if (locals.isMain){%>
                    <a href="#portfolio">Recentes</a>
                    <%}else{%>
                    <a href="/#portfolio">Recentes</a>
                    <%}%>
                </li>
                <li class="page-scroll">
                    <%if (locals.isMain){%>
                    <a href="#sobre">O que é</a>
                    <%}else{%>
                    <a href="/#sobre">O que é</a>
                    <%}%>
                </li>
                <%if (!locals.username){%>
                <li class="page-scroll">
                    <a href="cadastrarUsuario.html">Cadastre-se</a>
                </li>
                <%}%>
                <li class="page-scroll">
                    <a href="cadastrarPet.html">Cadastre um pet</a>
                </li>
                <li class="page-scroll">
                    <a href="listarPets.html">Ver todos pets</a>
                </li>
				<li class="page-scroll">
                    <a href="primeirosSocorros.html">Prim. Socorros</a>
                </li>
                <%if (locals.username){%>
                <li class="page-scroll">
                    <a href="logout-action">Logout</a>
                </li>
                <%}%>
                <%if (!locals.username){%>
                <li class="page-scroll">
                    <a href="login.html">Login</a>
                </li>
                <%}%>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>